<footer class="footer">
    <link rel="stylesheet" href="/style.css">

  <div class="footer-content">

    <div class="contacts">
      <p>Contato: contato@InstaCimol.com</p>
      <p>Instagram: @InstaCimol.app</p>
    </div>

    <div class="copyright">
      <p>© 2026 InstaCimol. Todos os direitos reservados.</p>
    </div>

  </div>

</footer>