<header class="header">

  <div class="logo-area">
    <img src="/img/logo.png" alt="logo" class="logo-img">
    <span class="logo-text">instaCimol</span>
  </div>

  <div class="search">
    <input type="text" placeholder="Pesquisar..." disabled>
  </div>

</header>