<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <title>Choose</title>
<link rel="stylesheet" href="/style.css">
</head>

<body>

  <div class="container">

    <div class="choose-box">

      <h1 class="logo">Choose</h1>

      <div class="buttons">

        <a href="/login">
          <button>Login</button>
        </a>

        <a href="/register">
          <button>Registrar</button>
        </a>

      </div>

    </div>

  </div>

</body>
</html>